<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!-- REGISTRY_KEY_NAME Change only in this way: substitution of BLayout.exe with <AppName>.exe -->
    <add key="REGISTRY_KEY_NAME" value="SOFTWARE\\Microsoft\\Windows NT\\CurrentVersion\\Image File Execution Options\\BLayout.exe" />
    <!-- REGISTRY_KEY_VALUE_NAME: Change only in this way: <ValueName> for a value of type dword -->
    <add key="REGISTRY_KEY_VALUE_NAME" value="dpiAwareness" />
  </appSettings>
</configuration>